<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <main>
        <div>
            <div id="cajaImagen">

            </div>
            <div id="cajaInicioSesion">
                <div id="cajaTitulo"><h1>¡Bienvenido!</h1></div>
                <div id="cajaOpciones">
                    <div id="cajaIniciarSesion">
                        <a href="iniciar_sesion.html"><p id="iniciar_sesion">Iniciar sesión</p></a>
                    </div>
                    <div id="cajaLogeo">
                        <a href=""><p id="logeo">Logeo</p></a>
                    </div>
                </div>
                <form action="index.html">
                    <div id="cajaInputNombre">
                        <div id="cajaImagenNombre">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <input type="text" name="txtInputNombre" id="txtInputNombre" placeholder="Nombre de usuario" required>
                    </div>
                    <div id="cajaInputContraseña">
                        <div id="cajaImagenContraseña">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </div>
                        <input type="password" name="passworldInput" id="passworldInput">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>