<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/iniciar_sesion.css">
    <title>Iniciar sesión</title>
</head>

<body>
    <div class="contenedor_iniciar_sesion">
        <div class="caja_imagen">
        </div>
        <div id="caja_iniciar_sesion">
            <div id="caja_titulo">
                <h1>¡Bienvenido!</h1>
            </div>
            <div id="caja_opciones">
                <div id="caja_opcion_iniciar_sesion">
                    <a href="#">
                        <p id="iniciar_sesion">Iniciar sesión</p>
                    </a>
                </div>
                <div id="caja_opcion_crear_usuario">
                    <a href="#">
                        <p id="crear_usuario">Crear usuario</p>
                    </a>
                </div>
            </div>
            <form method="post" action="/login">
                    <div class="ingresar_datos">
                        <div>
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <input type="text" name="txt_input_nombre" id="txt_input_nombre" placeholder="Nombre de usuario" required>
                    </div>
                    {% if error %}
                        <P class="error"> Usuario y/o contraseña incorrectas</P>
                    {% endif %}
                    <div class="ingresar_datos">
                        <div>
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </div>
                        <input type="password" name="passworld_input" id="passworld_input" placeholder=" ............. " required>
                    </div>
                    
                    <div class="recordar">
                        <label for="checkbox_recordar">Recordar información</label>
                        <input type="checkbox" name="checkbox_recordar" id="checkbox_recordar">
                    </div>
                    <div>
                        <button type="submit">Iniciar sesión</button>
                    </div>
            </form>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>