<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pantalla_principal.css">
    <title>Pantalla principal - Sistema Gomería</title>
</head>
<body>
    <!-- Cartel / Modal de Error por fallo de Base de Datos -->
    <div id="cartel-error" class="cartel-error" style="display: none;">
        <div class="contenido-cartel">
            <span class="icono-error">⚠️</span>
            <p id="mensaje-error-texto">Error al conectar con la base de datos.</p>

        </div>
    </div>

    <div class="contenedor">
        <!--Botón Hamburguesa Móvil-->
        <button class="btn-hamburguesa" id="btn-hamburguesa">
            <span class="linea"></span>
            <span class="linea"></span>
            <span class="linea"></span>
        </button>
        <!--Menu Lateral (SIDEBAR)-->
        <aside class="menu-lateral">
            <div class="menu-encabezado">
                <img src="../static/image/Icono_app.png" alt="icono-app" class="logo-app">
                <h2>Sistema Gomería</h2>
            </div>
            <nav class="menu-navegacion">
                <a href="#" class="enl-nav activo">Principal</a>
                <a href="#" class="enl-nav">Ventas</a>
                <a href="#" class="enl-nav">Compras</a>
                <a href="#" class="enl-nav">Inventario</a>
                <a href="#" class="enl-nav">Clientes</a>
                <a href="#" class="enl-nav">Proveedores</a>
            </nav>
            <div class="menu-pie">
                <div class="usuario-info">
                    <p class="usuario nombre" id="">Luciano Gonzalez</p>
                    <p class="usuario-rol" id="usuario-rol">Administrador</p>
                </div>
            </div>
        </aside>
        <!--Contenido principal-->
        <main class="contenido-principal">
            <header class="barra-superior">
                <div class="titulo-pagina">
                    <h1>Bienvenido <strong id="nombre-usuario">{{ nombre_usuario }}</strong></h1>
                    <p>Fecha: <strong id="fecha-actual">Cargando...</strong></p>
                    <h2 class="info-operativo">Resumen operativo del día</h2>
                </div>
            </header>

            <!-- Tarjetas de Métricas -->
            <section class="cuadricula-metricas">
                <div class="tarjeta-metrica">
                    <div class="datos-metrica">
                        <h3>Total Productos</h3>
                        <p class="valor-metrica" id="valor-stock">--</p>
                    </div>
                </div>
                <div class="tarjeta-metrica">
                    <div class="datos-metrica">
                        <h3>Total Clientes</h3>
                        <p class="valor-metrica" id="valor-cliente">--</p>
                    </div>
                </div>
                <div class="tarjeta-metrica">
                    <div class="datos-metrica">
                        <h3>Ventas del Día</h3>
                        <p class="valor-metrica" id="valor-venta">--</p>
                    </div>
                </div>
            </section>
            <!--Botones de acciones rápidos-->
            <section class="enl-acciones-rapidas">
                <h3>Accesos rápidos</h3>
                <div class="cuadricula-acceso">
                    <div class="accion-rapida"><a href="#">Nueva venta</a></div>
                    <div class="accion-rapida"><a href="#">Nuevo cliente</a></div>
                    <div class="accion-rapida"><a href="#">Cargar stock</a></div>
                    <div class="accion-rapida"><a href="#">Nueva Compra</a></div>
                </div>
            </section>

            <!-- Tablas dinámicas -->
            <div class="panel-inferior">
                <section class="contenido-tabla">
                    <h3 class="titulo-tablas">Últimas Ventas</h3>
                    <table class="tabla-datos">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Total</th>
                                <th>Forma de pago</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody id="tabla-ultimas-ventas">
                            <!-- JS cargará las filas aquí -->
                        </tbody>
                    </table>
                </section>

                <section class="contenido-tabla">
                    <h3 class="titulo-tablas">Alertas de stock bajo</h3>
                    <table class="tabla-datos">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="tabla-stock-bajo">
                            <!-- JS cargará las filas aquí -->
                        </tbody>
                    </table>
                </section>
            </div>
        </main>
    </div>

    <!-- Enlazamos el archivo de JavaScript -->
    <script src="../static/js/pantalla_principal.js"></script>
</body>
</html>