<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/proveedor.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Proveedor - Sistema Gomería</title>
</head>

<body>
      <div class="contenedor">
        {% include "componentes/navbar.html" %}

        <!--CONTENIDO PRINCIPAL-->
        <main class="contenido-principal">
            
            <!--Barra Superior de Navegación Externa-->
            <header class="barra-superior">
                <div class="titulo-pagina">
                    <h1>Gestión de Proveedores</h1>
                    <p>Administra y consulta de proveedores</p>
                </div>
                <div class="barra-superior-acciones">
                    <button class="btn btn-primario" id="btn-nuevo-proveedor">Nuevo Proveedor</button>
                </div>
            </header>

            <!--TARJETAS-->
            <section class="cuadricula-metricas">
                <div class="tarjeta-metrica">
                    <div class="datos-metrica">
                        <h3>Total Proveedores</h3>
                        <p class="valor-metrica" id="valor_metrica"></p>
                    </div>
                </div>
            </section>

            <!--BARRA DE FILTROS Y BUSQUEDA-->
            <section class="barra-filtros">
                <div class="contenedor-busqueda">
                    <input type="text" id="input-busqueda" placeholder="Buscar por Nombre o CUIT...">
                </div>
                <div class="acciones-filtros">
                    <select class="filtro-seleccion" id="filtro-rubro">
                        <option value="todos" selected>Rubro: Todos</option>
                        
                    </select>
                    <select class="filtro-seleccion" id="filtro-estado">
                        <option value="todos">Estado: Todos</option>
                        <option value="activo" selected>Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                    <select class="filtro-seleccion" id="filtro-ciudad">
                        <option value="todos" selected>Ciudad: Todas</option>
                    </select>
                </div>
            </section>

            <!--TABLA DE DATOS-->
            <section class="contenedor-tabla">
                <table class="tabla-datos">
                    <thead>
                        <tr>
                            <th>COD.</th>
                            <th>Nombre / Razón Social</th>
                            <th>CUIT</th>
                            <th class="texto-derecha">Dirección</th>
                            <th class="texto-derecha">Teléfono</th>
                            <th class="texto-centro">Email</th>
                            <th class="texto-centro">Estado</th>
                            <th class="texto-centro">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-proveedor-body">
                    </tbody>
                </table>
                <!-- CÓDIGO HTML PARA PAGINACIÓN -->
                <div class="contenedor-paginacion" style="display: flex; justify-content: center; align-items: center; gap: 15px; margin-top: 20px;">
                    <button id="btn-pag-anterior" class="btn-accion" disabled>&laquo; Anterior</button>
                    <span id="info-paginacion" style="font-weight: bold; color: #555;">Página 1 de 1</span>
                    <button id="btn-pag-siguiente" class="btn-accion">Siguiente &raquo;</button>
                </div>
            </section>
        </main>
    </div>

    <!-- Cartel emergente de avisos -->
    <div class="cartel-emergente" id="cartel-emergente">
        <h2 id="cartel-titulo"></h2>
        <p id="cartel-mensaje""></p>
    </div>

    <!--Ventana emergente para registro de proveedor-->
    <div id="modal-nuevo-proveedor" class="modal-overlay">
        <div class="modal-contenido">
            <div class="modal-cabecera">
                <h2>Nuevo Proveedor</h2>
                <button class="btn-cerrar" id="btn-cerrar-modal">X</button>
            </div>
            <form class="modal-cuerpo">
                <div class="grupo-input">
                    <label for="inputproveedor">Nombre del proveedor/empresa</label>
                    <input type="text" id="input-proveedor" placeholder="Ej. Alvarez y Hijos Neumativos" required>
                </div>
                <div class="fila-doble">
                    <div class="grupo-input">
                        <label for="input-cuit">CUIT</label>
                        <input type="text" id="input-cuit" placeholder="20463324324" required>
                    </div>
                    <div class="grupo-input">
                        <label for="input-telefono">Teléfono</label>
                        <input type="text" id="input-telefono" placeholder="3416896778">
                    </div>
                </div>
                <div class="fila-triple">
                    <div class="grupo-input">
                        <label for="input-email">Email</label>
                        <input type="email" id="input-email" placeholder="lucianogonzalez@gmail.com">
                    </div>
                </div>
                <div class="fila-cuadruple">
                    <div class="grupo-input">
                        <label for="input-rubro">Rubro</label>
                        <input type="text" id="input-rubro" placeholder="General" required>
                    </div>
                </div>
                <div class="fila-cuadruple">
                    <div class="grupo-input">
                        <label for="input-ciudad">Ciudad</label>
                        <input type="text" name="input-ciudad" id="input-ciudad" placeholder="Rosario">
                    </div>
                    <div class="grupo-input">
                        <label for="input-direccion">Dirección</label>
                        <input type="text" id="input-direccion" placeholder="San martin 2345">
                    </div>
                </div>

                <div class="modal-pie">
                    <button type="button" class="btn-cancelar" id="btn-cancelar-modal">Cancelar</button>
                    <button type="submit" class="btn-guardar">Guardar Proveedor</button>
                </div>
            </form>
        </div>
    </div>

    <!--Ventana emergente para modificar un proveedor-->
    <div id="modal-editar-proveedor" class="modal-overlay">
        <div class="modal-contenido">
            <div class="modal-cabecera" id="cabecera-editar">
                <h2>Modificar Proveedor</h2>
                <button class="btn-cerrar" id="btn-cerrar-modal-editar">X</button>
            </div>
            <form class="modal-cuerpo" id="form-editar-proveedor">
                <div class="grupo-input">
                    <label for="input-editar-proveedor">Nombre del proveedor/empresa</label>
                    <input type="text" id="input-editar-proveedor" placeholder="Ej. Alvarez y Hijos Neumativos" required>
                </div>
                <div class="fila-doble">
                    <div class="grupo-input">
                        <label for="input-editar-cuit">CUIT</label>
                        <input type="text" id="input-editar-cuit" placeholder="20463324324" required>
                    </div>
                    <div class="grupo-input">
                        <label for="input-editar-telefono">Teléfono</label>
                        <input type="text" id="input-editar-telefono" placeholder="3416896778">
                    </div>
                </div>
                <div class="fila-triple">
                    <div class="grupo-input">
                        <label for="input-editar-email">Email</label>
                        <input type="email" id="input-editar-email" placeholder="lucianogonzalez@gmail.com">
                    </div>
                </div>
                <div class="fila-cuadruple">
                    <div class="grupo-input">
                        <label for="input-editar-rubro">Rubro</label>
                        <input type="text" id="input-editar-rubro" placeholder="General" required>
                    </div>
                </div>
                <div class="fila-cuadruple">
                    <div class="grupo-input">
                        <label for="input-editar-ciudad">Ciudad</label>
                        <input type="text" name="input-editar-ciudad" id="input-editar-ciudad" placeholder="Rosario">
                    </div>
                    <div class="grupo-input">
                        <label for="input-editar-direccion">Dirección</label>
                        <input type="text" id="input-editar-direccion" placeholder="San martin 2345">
                    </div>
                </div>

                <div class="modal-pie">
                    <button type="button" class="btn-cancelar" id="btn-cancelar-modal-editar">Cancelar</button>
                    <button type="submit" class="btn-guardar">Guardar Proveedor</button>
                </div>
            </form>
        </div>
    </div>
    <!--Script de JS-->
    <script src="../static/js/proveedores.js"></script>
    <script src="../static/js/navbar.js"></script>
</body>
</html>
