<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/proveedor.css">
    <title>Proveedor - Sistema Gomería</title>
</head>

<body>
      <div class="contenedor">
        <!--Menu Lateral (SIDEBAR)-->
        <aside class="menu-lateral">
            <div class="menu-encabezado">
                <img src="../static/image/Icono_app.png" alt="logo-app" class="logo-app">
                <h2>Sistema Gomería</h2>
            </div>
            <nav class="menu-navegacion">
                <a href="#" class="enl-nav">Principal</a>
                <a href="#" class="enl-nav">Ventas / Compras</a>
                <a href="#" class="enl-nav">Inventario</a>
                <a href="#" class="enl-nav">Clientes</a>
                <a href="#" class="enl-nav activo">Proveedores</a>
            </nav>
            <div class="menu-pie">
                <div class="usuario-info">
                    <p class="usuario-nombre">Luciano Gonzalez</p>
                    <p class="usuario-rol">Administrador</p>
                </div>
            </div>
        </aside>

        <!--CONTENIDO PRINCIPAL-->
        <main class="contenido-principal">
            <header class="barra-superior">
                <div class="titulo-pagina">
                    <h1>Gestión de Proveedores</h1>
                    <p>Administra y consulta de proveedores</p>
                </div>
                <div class="barra-superior-acciones">
                    <button class="btn btn-primario" id="btn-open-modal">Nuevo Proveedor</button>
                </div>
            </header>

            <!--TARJETAS-->
            <section class="cuadricula-metricas">
                <div class="tarjeta-metrica">
                    <div class="datos-metrica">
                        <h3>Total Proveedores</h3>
                        <p class="valor-metrica">15</p>
                    </div>
                </div>
            </section>

            <!--BARRA DE FILTROS Y BUSQUEDA-->
            <section class="barra-filtros">
                <div class="contenedor-busqueda">
                    <input type="text" id="input-busqueda" placeholder="Buscar por Nombre o CUIT...">
                </div>
                <div class="acciones-filtros">
                    <select class="filtro-seleccion">
                        <option value="todos">Rubro: Todos</option>
                        <option value="neumatico">Neumáticos</option>
                        <option value="insumo-parches">Insumos</option>
                        <option value="herramientas">Herramientas</option>
                    </select>
                    <select class="filtro-seleccion">
                        <option value="todos">Estado: Todos</option>
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                    <select class="filtro-seleccion">
                        <option value="todos">Ciudad: Todas</option>
                        <option value="roldan">Roldan</option>
                        <option value="rosario">Rosario</option>
                        <option value="san-jeronimo-sud">San Jeronimo Sud</option>
                    </select>
                </div>
            </section>

            <!--TABLA DE DATOS-->
            <section class="contenedor-tabla">
                <table class="tabla-datos">
                    <thead>
                        <tr>
                            <th>COD.</th>
                            <th>Nombre / Razón Social</th>
                            <th>CUIT</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Alvarez y Hijos Neumáticos</td>
                            <td>20304050607</td>
                            <td>AV. San martin 123</td>
                            <td>01145678901</td>
                            <td>ventas@alvarezyhijos.com</td>
                            <td>Activo</td>
                            <td>
                                <div class="btn-acciones">
                                    <button class="btn-accion editar" title="Editar">Modificar</button>
                                    <button class="btn-accion eliminar" title="Eliminar">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Neumáticos Distribuidora del Sur</td>
                            <td>30710080001</td>
                            <td>Calle Falsa 456</td>
                            <td>01134567890</td>
                            <td>contac@distrisur.com</td>
                            <td>Inactivo</td>
                            <td>
                                <div class="btn-acciones">
                                    <button class="btn-accion editar"  title="Editar">Modificar</button>
                                    <button class="btn-accion eliminar" title="Eliminar">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>

    <!--Ventana emergente para registro de producto-->
    <div id="modal-overlay" class="modal-overlay">
        <div class="modal-contenido">
            <div class="modal-cabecera">
                <h2>Nuevo Proveedor</h2>
                <button class="btn-cerrar" id="btn-cerrar-modal">X</button>
            </div>
            <form class="modal-cuerpo">
                <div class="grupo-input">
                    <label for="input-proveedor">Nombre del proveedor/empresa</label>
                    <input type="text" id="input-proveedor" placeholder="Ej. Alvarez y Hijos Neumativos">
                </div>
                <div class="fila-doble">
                    <div class="grupo-input">
                        <label for="input-cuit">CUIT</label>
                        <input type="text" id="input-cuit" placeholder="20463324324">
                    </div>
                    <div class="grupo-input">
                        <label for="input-telefono">Teléfono</label>
                        <input type="text" id="input-telefono" placeholder="cod.area:341">
                        <input type="text" id="input-telefono" placeholder="345223">
                    </div>
                </div>
                <div class="fila-triple">
                    <div class="grupo-input">
                        <label for="input-email">Email</label>
                        <input type="email" id="input-email" placeholder="lucianogonzalez@gmail.com">
                    </div>
                </div>
                <div class="fila-cuadruple">
                    <div class="grupo-input">
                        <label for="select-ciudad">Ciudad</label>
                        <select name="select-ciudad" id="select-ciudad">
                            <option value="roldan">Roldan</option>
                            <option value="rosario">Rosario</option>
                            <option value="sanjeronimosud">San Jeronimo Sud</option>
                        </select>
                    </div>
                    <div class="grupo-input">
                        <label for="input-direccion">Dirección</label>
                        <input type="text" id="input-direccion" placeholder="San martin 2345">
                    </div>
                </div>

                <div class="btn-acciones-modal">
                    <button type="button" class="btn-cancelar" id="btn-cancelar-modal">Cancelar</button>
                    <button type="submit" class="btn-guardar">Guardar Proveedor</button>
                </div>
            </form>
        </div>
    </div>
    <!--Script de JS-->
    <script src="../static/js/open_modal.js"></script>
</body>
</html>
