* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_fondo: #5c6bc0;
    --color_fondo_cajas: #9fa8da;
    --color_letras:#e8eaf6;
    --color-hover:#7986cb;

}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color_fondo);
}

.contenedor_iniciar_sesion {
    display: flex;
    height: 100vh;
}

.contenedor_iniciar_sesion .caja_imagen {
    flex: 1;
    background: url(../image/fondo-de-pantalla-full-hd-para-tablet-feq8tl3tjm3fokk6.jpg);
    background-size: cover;
    background-position: center;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion {
    flex: 1;
    background: var(--color_fondo);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion #caja_titulo h1 {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion #caja_opciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion #caja_opciones a p {
    text-decoration: none;
    color: var(--color_letras);
    font-size: 25px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion #caja_opciones p:hover {
    text-decoration: underline;
    background-color: var(--color-hover);
    /* Buscar un color del root (crearlo de ser necesario) */
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div ion-icon {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 10px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form .ingresar_datos input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    border: 1px solid #555;
    background-color: var(--color_fondo_cajas);
    color: var(--color_letras);
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div.recordar {
    display: flex;
    align-items: center;
    margin: 15px;
    text-decoration: underline;
    font-size: 18px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div.recordar input {
    margin-left: 15px;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: var(--color_fondo_cajas);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contenedor_iniciar_sesion #caja_iniciar_sesion form div button:hover {
    background-color: var(--color-hover); 
    /* Buscar un color del root (crearlo de ser necesario) */
}



@media (max-width: 768px) {
    .contenedor_iniciar_sesion {
        flex-direction: column;
        height: auto;
    }

    .contenedor_iniciar_sesion .caja_imagen {
        height: 200px;
        background-position: center;
    }

    .contenedor_iniciar_sesion #caja_iniciar_sesion {
        padding: 20px;
    }
}