<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estructura_base_compra_inventario_venta.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <h2 id="titulo_pagina"> {% block h2 %} {% endblock %} </h2>
    </header>
    <nav>
        <h2 id="titulo_nav">Sistema Gomeria</h2>
        <ul>
            <li>
                <a href="">
                    <ion-icon name="cart-outline"></ion-icon>
                    <span> Compras</span>
                </a>
                <a href="">
                    <ion-icon name="cash-outline"></ion-icon>
                    <span> Ventas</span>
                </a>
                <a href="">
                    <ion-icon name="cube-outline"></ion-icon>
                    <span> Inventario</span>
                </a>
                <a href="">
                    <ion-icon name="person-outline"></ion-icon>
                    <span> Clientes</span>
                </a>
                <a href="">
                    <ion-icon name="people-outline"></ion-icon>
                    <span> Proveedores</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="barra_filtrado">
        <div id="filtro">
            <ion-icon name="search-outline"></ion-icon>
            <span> Filtrar por: </span>
            <input type="text" placeholder="Buscar...">
        </div>
        <div id="caja_botones_filtrado">
            <button>Picos</button>
            <button>Rodados</button>
            <button>Cámaras</button>
            <button>Parches</button>
            <button>Lúbricantes</button>
        </div>
    </div>

    <div id="contenedor_barra_lateral_derecha">
        <div id="contenedor_titulo_barra_lateral_derecha">
            <p>{% block p  %} {% endblock %} </p>
        </div>
        <div id="parte_superior_derecha">
            <button><ion-icon name="refresh-outline"></ion-icon></button>
            {% block fecha %} {% endblock %}
        </div>
        <div id="cuerpo_barra_derecha">
            {% block cuerpo_derecha %} [% endblock %]
        </div>
        <div id="opciones_derecha">
            {% block opciones_derecha %} {% endblock %}
        </div>
    </div>

    <main>
        {% block main %} {% endblock %}
    </main>
    <footer>

    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>