<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión Gomería</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="contenedor">

        <!-- Barra superior -->
        <header class="barra-superior">

            <div class="izquierda">
                <h2>Principal</h2>
            </div>

            <div class="centro">
                <h1>Sistema de Gestión Gomería</h1>
            </div>

            <div class="derecha">
                <div class="usuario-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="usuario">
                    <p>Usuario</p>
                </div>
            </div>

        </header>
</body>
</html>