<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión Gomería</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="contenedor">

        <!-- Barra superior -->
        <header class="barra-superior">

            <div class="izquierda">
                <h2>Principal</h2>
            </div>

            <div class="centro">
                <h1>Sistema de Gestión Gomería</h1>
            </div>

            <div class="derecha">
                <div class="usuario-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="usuario">
                    <p>Usuario</p>
                </div>
            </div>

        </header>
             <!-- Línea -->
        <div class="linea"></div>
        <!-- Botones -->
        <section class="menu">

            <div class="boton">
                <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png">
                <p>Compras</p>
            </div>

            <div class="boton">
                <img src="https://cdn-icons-png.flaticon.com/512/2331/2331941.png">
                <p>Ventas</p>
            </div>

            <div class="boton">
                <img src="https://cdn-icons-png.flaticon.com/512/679/679922.png">
                <p>Inventario</p>
            </div>

            <div class="boton">
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png">
                <p>Clientes</p>
            </div>

            <div class="boton">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
                <p>Proveedores</p>
            </div>

        </section>

    </div>
</body>
</html>