* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_fondo: #5c6bc0;
    --color_fondo_cajas: #9fa8da;
    --color_letras:#e8eaf6;
    --color_letras_alterno: #000;
    --color-hover:#7986cb;
}

.contenedor_header_gestion {
    background-color: var(--color_fondo);
    color: var(--color_letras);
    padding: 20px;
    text-align: center;
}
.contenedor_header_gestion #titulo_pagina {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}


/*Navegacion*/

.conetenedor_navegacion {
    background-color: var(--color_fondo);
    color: var(--color_letras);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 100vh;
}

.conetenedor_navegacion h2 {
    text-align: center;
    padding: 20px 0;
    color: var(--color_letras);
    text-decoration: underline;
}

.conetenedor_navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.conetenedor_navegacion ul li {
    float: none;
    display: block;
    border-bottom: 1px solid;
}

.conetenedor_navegacion ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--color_letras);
}

.conetenedor_navegacion ul li a:hover {
    background-color: var(--color-hover);
}

.conetenedor_navegacion ul li a ion-icon {
    margin-right: 10px;
    font-size: 25px;
}

.conetenedor_navegacion ul li a span {
    font-size: 18px;
}

/*Barra de filtrado*/
#contenedor_barra_filtrado {
    margin-left: 160px;
    padding: 20px;
    background-color: var(--color_fondo_cajas);
    color: var(--color_letras);
    display: flex;
    align-items: center;
    gap: 20px;
}

#contenedor_barra_filtrado #filtro {
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--color_fondo);
    border-radius: 4px;
}

#contenedor_barra_filtrado ion-icon {
    font-size: 25px;
    color: var(--color_letras);
    cursor: pointer;
}

#contenedor_barra_filtrado input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color_fondo);
    border-radius: 4px;
    cursor: text;
}

#contenedor_barra_filtrado button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color_fondo);
    color: var(--color_letras);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

#contenedor_barra_filtrado button:hover {
    background-color: var(--color-hover);
}

/* barra lateral derecha */

#contenedor_barra_lateral_derecha {
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--color_fondo);
    color: var(--color_letras);
    padding: 20px;
}

#contenedor_titulo_barra_lateral_derecha p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}

#parte_superior_derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#parte_superior_derecha .restablecer {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    background-color: var(--color_fondo_cajas);
    color: var(--color_letras);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#parte_superior_derecha .restablecer:hover {
    background-color: var(--color-hover);
}

#parte_superior_derecha #fecha, #parte_superior_derecha span {
    font-size: 20px;
}