/* CONTENIDO GENERAL */
.container{
    grid-template-rows: auto auto 1fr 1fr auto auto;
    grid-template-areas: 
    "header"
    "informacion"
    "main"
    "main"
    "footer";
}

/* TITULO */
.contenedor_header{
    display: grid;
    grid-template-rows: repeat(auto-fit);
    
}

.contenedor_header p{
    margin-top: 5px;
}

/* NUMERO ORDEN */
.numero-orden{
    background: #83bdf4;
    padding: 15px 35px;
    border-radius: 20px;
    text-align: center;
}

/* INFO */
.info-superior{
    grid-area: informacion;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.info-card{
    background: white;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 300px;
}

.info-card h4{
    margin: 0;
    font-size: 18px;
}

.info-card p{
    margin-top: 8px;
    font-weight: bold;
    font-size: 18px;
}
/* TABLA */
.tabla-container{
    background: #ececec;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 20px;
}

.tabla-container h3{
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
}

thead{
    background: #3d3d3d;
    color: white;
}

thead th{
    padding: 15px;
    text-align: center;
}

tbody td{
    padding: 15px;
    border: 1px solid #555;
    background: #d9d9d9;
    text-align: center;
}

.producto-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.producto-info img{
    width: 55px;
    height: 55px;
    object-fit: contain;
}

/* FOOTER TABLA */
tfoot{
    background: #83bdf4;
}

tfoot td{
    padding: 15px;
    font-weight: bold;
    color: #2d00d7;
    font-size: 20px;
    text-align: center;
}

/* BOTONES */
.acciones{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.btn{
    padding: 15px 30px;
    border-radius: 12px;
    border: 2px solid transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.pdf{
    border-color: red;
    color: red;
    background: white;
}

.imprimir{
    border-color: #6c4cff;
    color: #6c4cff;
    background: white;
}

.email{
    border-color: #555;
    color: #333;
    background: white;
}

.whatsapp{
    border-color: #1bbf5c;
    color: #1bbf5c;
    background: white;
}

.btn:hover{
    transform: scale(1.03);
}