<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de orden de compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resumen_orden_compra.css') }}">
</head>

<body>

    <header>
        <h1>Resumen de orden de compra</h1>
    </header>

    {% include 'componentes/navbar.html' %}

    <!-- CONTENIDO CENTRAL -->
    <div class="contenido-resumen">

        <!-- TITULO -->
        <div class="titulo-resumen">

            <div>
                <h1>Resumen de Orden de Compra</h1>
                <p>Detalle completo de la orden realizada</p>
            </div>

            <div class="numero-orden">
                <span>N° Orden</span>
            </div>
        </div>
        <!-- INFO -->
        <div class="info-superior">

        <div class="info-card">
          <div>
            <h4>Fecha</h4>
          </div>
        </div>

        <div class="info-card">
          <div>
            <h4>Proveedor</h4>
          </div>
        </div>

      </div>
         <!-- TABLA -->
  <div class="tabla-container">

    <h3>Productos solicitados</h3>

    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>

      <tbody>

        <!-- EJEMPLO CON DATOS DE BASE -->
        <tr>
          <td class="producto-info">
            <img src="img/cubierta.png" alt="">
            <span>Cubierta 175/65 R14</span>
          </td>
          <td>10 unidades</td>
        </tr>

        <tr>
          <td class="producto-info">
            <img src="img/camara.png" alt="">
            <span>Cámara G14</span>
          </td>
          <td>3 unidades</td>
        </tr>

        <tr>
          <td class="producto-info">
            <img src="img/lubricante.png" alt="">
            <span>Lubricante X 500ml</span>
          </td>
          <td>5 unidades</td>
        </tr>

      </tbody>

      <tfoot>
        <tr>
          <td>TOTAL PRODUCTOS</td>
          <td>18 unidades</td>
        </tr>
      </tfoot>
    </table>

  </div>
  <!-- BOTONES -->
  <div class="acciones">

    <button class="btn pdf">
      Descargar PDF
    </button>

    <button class="btn imprimir">
      Imprimir
    </button>

    <button class="btn email">
      Enviar por Email
    </button>

    <button class="btn whatsapp">
      Enviar por WhatsApp
    </button>

  </div>
      <!-- PIE DE PAGINA -->
      <footer>
          <p>&copy; 2026 Neumáticos Gatica. Todos los derechos reservados.</p>
      </footer>
</body>
</html>